<!DOCTYPE html>
<html>
<head>
  <title>Pharmacy Dashboard</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>

<div class="sidebar">
  <h2>Pharmacy</h2>

  <div class="nav-item">Stock</div>
  <div class="nav-item">Prescriptions</div>
  <div class="nav-item">Orders</div>
</div>

<div class="main">

  <div class="topbar">
    <input placeholder="Search medicine">
    <div class="profile">Pharmacy</div>
  </div>

  <div class="section active">
    <div class="panel">
      <h3>Medicine Stock</h3>
      <div id="stockList"></div>
    </div>
  </div>

</div>

<script src="app.js"></script>
</body>
</html>